# Express Node.js Server Environment Port & Mode
PORT=5000
NODE_ENV=development

# Mongoose Database URI
MONGO_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/portfolio?retryWrites=true&w=majority

# JWT Token configuration key
JWT_SECRET=supersecretjwtkeyforadminportfoliodashboard

# Cloudinary Integration credentials
CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret

# Registration validation secret key
ADMIN_REGISTRATION_SECRET=shivank-portfolio-secret-1357

# Allowed Frontend Origin URL
FRONTEND_URL=http://localhost:3000
